.banner__container{
    display: center;
    text-align: center;   
    padding: 4em 6em; 
    font-family: var(--font-principal);
}
.banner{
    margin: 0em 10em;
}
.banner__topico{
    font-weight: 600;
    color: var(--cor-vermelho);
}
.banner__titulo{
    margin-top: 1em;
    font-weight: 600;
    font-size: 48px;
}
.banner__texto{
    font-weight: 400;
    font-size: 20px;    
    margin: 3% 22%;
    text-align: center;
    line-height: 1.5;
    color: var(--cor-fonte-primaria);
}

@media screen and (max-width: 524px) {
    .banner__container {
      padding: 1em;
    }
    
    .banner {
      margin: 0 0.5em;
    }
    
    .banner__titulo {
      font-size: 36px;
    }
    
    .banner__texto {
      margin: 0.5em;
      font-size: 16px;
    }
  }
  

