.banner__container__vagas{
    display: center;
    text-align: center;   
    padding: 4em 0em; 
    font-family: var(--font-principal);
}
.banner__vagas{
    margin-top: 1%;
}
.banner__topico__vagas{
    font-weight: 500;
    color: var(--cor-vermelho);
    font-size: 14px;
}
.banner__topico__vagas-destaque{
    text-align: center;
    font-weight: 500;
    color: var(--cor-vermelho);
    font-size: 14px;
    background-color: var(--cor-fundo-banner-rodape);
    border-radius: 16px;
    padding: 0.5em 0;
    margin: 0 46%;
}
.banner__titulo__vagas{
    margin-top: 1em;
    font-weight: 600;
    font-size: 36px;    
}
.banner__texto__vagas{
    font-weight: 400;
    font-size: 20px;    
    margin: 3% 22%;
    text-align: center;
    line-height: 1.5;
    color: var(--cor-fonte-primaria);
}
.imagem__reuniao{
    width: 82%;
  padding: 0 8%;
}

@media screen and (max-width:524px) {
    .banner__container__vagas{        
        padding: 1em 0em; 
    }
    .banner__titulo__vagas{
        margin-top: 1em;
        font-weight: 600;
        font-size: 24px;    
    }
    .banner__texto__vagas{
        font-weight: 400;
        font-size: 14px;    
        margin: 3% 10%;
        text-align: center;
        line-height: 1.5;
        color: var(--cor-fonte-primaria);
    }
}