.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 8em;
    font-family: var(--font-principal);
    font-weight: 500;
}

.container__logo{
    display: flex;
    align-items: center;
}

.nome__empresa{
    margin-left: 1em;
}

.container__listas{
    display: flex;
    align-items: center;
    width: 60vw;
}
.item__lista{
    margin-left: 2em;
}
.item_cabecalho{
    text-decoration: none;
    color: var(--cor-fonte-primaria);
    font-weight: 500;
}
.item_cabecalho:hover{
    text-decoration: none;
    color: var(--cor-vermelho-hover);
    font-weight: 500;
}
.container__login{
    display: flex;
    align-items: center;
}
.item__login{
    padding: 1em;
}
.botao__entrar{
    text-decoration: none;
    color: var(--cor-fonte-primaria);
    padding: 0.8em 1em;
    font-weight: 500;
}
.botao__cadastrar{
    text-decoration: none;
    color: var(--cor-fundo);
    background-color: var(--cor-vermelho);
    padding: 0.8em 1em;
    border-radius: 8px;
}
.botao__entrar:hover{
    text-decoration: none;
    color: var(--cor-fundo);
    background: var(--cor-vermelho-hover);
    padding: 0.8em 1em;
    border-radius: 8px;
    font-weight: 500;
}
.botao__cadastrar:hover{
    text-decoration: none;
    border-radius: 8px;  
}
.button__hamburguer{
    display: none;    
}
.item_cabecalho-button{
    text-decoration: none;
    color: var(--cor-fonte-primaria);
    font-weight: 500;
}
.item__lista-button{
    background: var(--cor-fundo);
    border-bottom: 1px solid #D0D5DD;
    padding: 0.8em 1.2em;
}

/* menu hamburguer */  
.hamburguer__menu{
    display: none;
    position: absolute;
    margin-top: 51%;
    margin-left: 10%;       
}
/* final menu */

@media screen and (max-width: 524px){
    .cabecalho{        
        padding: 1.5em 2em;
    }
    .button__hamburguer{
        display: block;
    }
    
    .nome__empresa{
        display: none;
    }
    .cabecalho__lista{
        display: none;
    }

    /* media menu hamburguer */
    .active{
        display: block;        
    }
    
    /* fim */
}