.rodape{
    background-color: var(--cor-fundo-redape);
    text-align: center;
    padding: 4% 15%;
    font-family: "Inter";
}
.titulo__rodape{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 0.5em;
}
.texto__rodape{
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-fonte-primaria);    
    padding-bottom: 2em;
}
.banner__pesquisa{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 0.8em 1em;
    font-size: 16px;
    font-weight: 400;
    width:30%;
    box-sizing: border-box;
}
.banner__pesquisa::placeholder{
    text-align: left;
}
.contato__container{
    padding-bottom: 1em;
}
.direitos-da-pagina{
    color: var(--cor-fonte-primaria); 
    padding-top: 1.5em;
}

@media screen and (max-width: 524px) {
    .rodape{
        padding: 4% 1%;
        font-family: "Inter";
    }
    .titulo__rodape{
        font-size: 24px;
    }
    .texto__rodape{
        font-size: 14px;
    }
    .banner__pesquisa{
        width:60%;
        box-sizing: border-box;
    }
}