@import url("/css/header.css");
@import url("/css/banner.css");
@import url("/css/estatistica.css");
@import url("/css/bannerVagas.css");
@import url("/css/mural_vagas.css");
@import url("/css/banner_rodape.css");
@import url("/css/rodape.css");

:root{
    --font-principal: 'Inter', sans-serif;
    --cor-fundo: #FFFFFF;
    --cor-vermelho: #8E2424;
    --cor-vermelho-hover: #cf4e4e;
    --cor-fonte-primaria: #667085;
    --cor-fonte-secundaria: #101828;
    --cor-vermelho-claro: #8E2424 5%;
    --cor-vermelho-mais_claro: #C31919 3%;
    --cor-fundo-redape: #F9FAFB;
    --cor-fundo-banner-rodape:rgba(196, 25, 25, 0.03);    
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 500;
}