.banner__rodape{  
    font-family: "Inter";
    text-align: center;
    background: var(--cor-fundo-banner-rodape);
    margin: 0 10% 5% 10%;    
}
.container__banner-rodape{
    padding: 4em 10em;
}
.titulo__sobre-nos{
    font-size: 14px;
    font-weight: 600;
    color: #8E2424;
    padding-bottom: 1em;
}
.texto__depoimento{
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    font-style: normal  
}
.banner__avatar{
    padding-top: 2em;
    display: block;
}
.nome__avatar{
    padding: 1em 0 1em 0;
    color: var(--cor-fonte-secundaria);
    font-size: 16px;
    font-weight: 500;
}
.profissao__avatar{
    color: var(--cor-fonte-primaria);
    font-size: 14px;
    font-weight: 400;
}